$blue: #2C2B6F;
$gray: #E6E6E6;
$lightGray: #D8D8D8;
$mediumGray: #979797;
$darkGray: #616161;
$blackGray: #272822;
$primary: #CEEFDD;
$secondary: #2C2B6F;
$materialBlue: #00bcd4;
$background: #fff;
$white: #ffffff;
$navbar: $materialBlue;
$navbarText: $white;
$subNavbar: $materialBlue;
$editorBackground: $blackGray;
$success: #c8e6c9;
$error: #ffa3a3;
$accentColor: #2D2578;
$Tab: #333333;
$linkBlue: #427fed;
